<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Makan Enak - Cari Tempat Nongkrong mu</title>
  <meta name="description" content="Cari tempat nongkrong terdekat dengan mu.">
  <link rel="manifest" href="manifest.json">
  <link rel="apple-touch-icon" href="/icons/icon_x192.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <meta name="theme-color" content="#ff8303"/>
  <link href="splashscreens/iphone6_splash.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
  <link href="splashscreens/ipad_splash.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
</head>
<body>
    <a href="#main-content" class="btn skip-link">Ke Konten Utama</a>
    <header>
      <nav>
        <div class="logo">
          <h1>MakanEnak.Com</h1>
        </div>
        <button id="hamburger" class="btn hamburger" href="#" aria-label="Menu Aplikasi">☰</button>
        <div id="menu" class="menu">
          <div id="logo-mobile"></div>
          <ul class="menu-list">
            <li class="menu-item"><a class="btn" href="#/list-restaurant">Home</a></li>
            <li class="menu-item"><a class="btn" href="#/favorite">Favorite</a></li>
            <li class="menu-item"><a class="btn"
            href="https://github.com/adepane" target="_blank" rel="noreferrer">About Us</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <div id="hero">
        <div class="hero-image" id="hero-image">
          <div class="hero-text">
            <h2 tabindex="-1" id="hero-text">Temukan lokasi terdekat dengan mu.</h2>
            <button type="button" id="to-main-content" class="btn explore" aria-label="Ke konten utama">Let's Find out</button>
          </div>
        </div>
      </div>
      <div id="main-content" class="container">
        
      </div>
      <div class="apps-container">
        <div class="apps-header" tabindex="0">Temukan Kami di</div>
        <div class="download-apps">
          <a tabindex="0" class="google" href="#" title="Download Makan Enak di Google Play"></a>
          <a tabindex="0" class="apple" href="#" title="Download Makan Enak di App Store"></a>
        </div>
      </div>
    </main>
    <footer tabindex="0"></footer>
</body>
</html>
